.homeCtn{
  display: flex;
  justify-content: center;
  gap:var(--marginLarge);
  padding: var(--marginLarge);
}
.homeCtn a{
  display: grid;
  place-items: center;
  overflow: hidden;
}
.homeCtn a:hover h2{
  color: var(--contrastColor);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  max-width: 100%;
}
.homeCtn a:hover img{
  filter: contrast(120%);
  -webkit-filter: contrast(120%);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.homeCtn img{
  width: 960px;
  max-width: 100%;
  position: relative;
}
.homeCtn h2{
  position: absolute;
  font-size: 10rem;
  text-align: center;
  color: var(--contrastColorDark);
}
@media (max-width: 700px) {
  .homeCtn{
    flex-direction: column;
  }
  .homeCtn h2{
    font-size: 8rem;
  }
}